<ion-app>
    <div class="ion-page" main>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start"  (click)=return()>
            <ion-icon class="backPageIcon" name="chevron-back-outline"></ion-icon>
          </ion-buttons>
          <ion-title>Term Of Services</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding termServ">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </ion-content>
    </div>
  </ion-app>