<!-- <ion-header>
    <ion-navbar>
        <ion-row>
            <ion-col col-12>
           <ion-row>
            <ion-col col-12>
                  <div class="toolbar-titel toolbar-titel-md" style="text-align: center; color:red; font-size:18px;">Rating</div>
             </ion-col>
            </ion-row>
            </ion-col>
          </ion-row>   
    </ion-navbar>
</ion-header>

<ion-content>
  
  <div class="side-crop">
    <img  src="assets/imgs/Layer_0.png">    
    <img  src="assets/imgs/slider.png">                  
  </div>
</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-title>userrating</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
