<ion-app>
  <ion-content fullscreen class="bg-img">
    <img class="logo" src="assets/imgs/logo.png">
    <ion-card class="loginBg">
      <ion-list class="ion-padding transparentBg">
        <ion-label class="centerBlockMb20" color="light">
          <h2 class="titleSize">Password Reset</h2>
        </ion-label> 
          <ion-input class="mb-10 input-control" [(ngModel)]="email"   type="email" placeholder="Email">
          </ion-input>
          <ion-button class="loginBtn" shape="round" (click)="reset()" color="danger" expand="block">Reset My Password
          </ion-button> 
        <ion-label class="dBlock textCenter pt-10" (click)="goback()" color="light">Go Back</ion-label>
      </ion-list>
    </ion-card>
  </ion-content>
</ion-app>