<ion-app>
  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start" (click)="back()">
          <ion-icon class="backPageIcon" name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title>Block User</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-no-padding">
      <ng-template #NO_OR_FINISH_MATCH>
               NO Block User
      </ng-template>
      <div    *ngIf="content; else NO_OR_FINISH_MATCH">
        <ion-card-content class="pt-10 pb-5 px-10" *ngFor="let data of content; let i = index">
          <ion-item class="cardShapeRound" lines="none">
            <ion-avatar slot="start" (click)="profile(data)">
              <img class="Proimg" src='http://jigaju.esy.es/uploads/thumbnail/{{data.profile_image}}' />
            </ion-avatar>
            <ion-label >
              <h3 class="colorRed">{{data.fname}} <span class="mcoCounter">{{data.gender}}</span></h3>
              <h3>{{data.about}}</h3>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </div>
      
      <!--ion-card-content class="pt-10 pb-5 px-10">
        <ion-item class="cardShapeRound" lines="none">
          <ion-avatar slot="start">
            <img class="Proimg" src="./assets/imgs/img_avatar.png" />
          </ion-avatar>
          <ion-label>
            <h3 class="colorRed">Santanu Nag <span class="mcoCounter">Male</span></h3>
            <h3>Nothing</h3>
          </ion-label>
        </ion-item>
      </ion-card-content-->
    </ion-content>
  </div>
</ion-app>