<ion-app>
    <div class="ion-page" main>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start" (click)="back()">
            <ion-icon class="backPageIcon" name="chevron-back-outline"></ion-icon>
          </ion-buttons>
          <ion-title>Profile performance</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-card-content class="p-0">
                <ion-item class="cardShapeRound borderRed gradientBlack" lines="none">
                  <ion-label class="textCenter">
                    <p class="colorWhite brackSpaceText">Users who visited your profile</p>
                    <ion-card-content class="subCardCont">
                      <ion-item class="cardShapeRound pStartEnd5" lines="none">
                        <ion-label class="textCenter marginInline-0">
                          <ion-icon name="eye" class="defultIcons"></ion-icon>
                          <p class="colorWhite brackSpaceText">{{content.allVisits}}</p>
                        </ion-label>
                      </ion-item>
                    </ion-card-content>
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-col>
            <ion-col size="6">
              <ion-card-content class="p-0">
                <ion-item class="cardShapeRound borderRed gradientBlack" lines="none">
                  <ion-label class="textCenter">
                    <p class="colorWhite brackSpaceText">Number of likes you received</p>
                    <ion-card-content class="subCardCont">
                      <ion-item class="cardShapeRound pStartEnd5" lines="none">
                        <ion-label class="textCenter marginInline-0">
                          <ion-icon name="thumbs-up" class="defultIcons"></ion-icon>
                          <p class="colorWhite brackSpaceText">{{content.allLikes}}</p>
                        </ion-label>
                      </ion-item>
                    </ion-card-content>
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-card-content class="p-0">
                <ion-item class="cardShapeRound borderRed gradientBlack" lines="none">
                  <ion-label class="textCenter">
                    <p class="colorWhite brackSpaceText">Dislikes you received</p>
                    <ion-card-content class="subCardCont">
                      <ion-item class="cardShapeRound pStartEnd5" lines="none">
                        <ion-label class="textCenter marginInline-0">
                          <ion-icon name="thumbs-down" class="defultIcons"></ion-icon>
                          <p class="colorWhite brackSpaceText">{{content.alldislikes}}</p>
                        </ion-label>
                      </ion-item>
                    </ion-card-content>
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-col>
            <ion-col size="6">
              <ion-card-content class="p-0">
                <ion-item class="cardShapeRound borderRed gradientBlack" lines="none">
                  <ion-label class="textCenter">
                    <p class="colorWhite brackSpaceText">Age on <br>app</p>
                    <ion-card-content class="subCardCont">
                      <ion-item class="cardShapeRound pStartEnd5" lines="none">
                        <ion-label class="textCenter marginInline-0">
                          <ion-icon name="timer" class="defultIcons"></ion-icon>
                          <p class="colorWhite brackSpaceText">{{content.age}} days</p>
                        </ion-label>
                      </ion-item>
                    </ion-card-content>
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-card-content class="p-0">
                <ion-item class="cardShapeRound borderRed gradientBlack" lines="none">
                  <ion-label class="textCenter">
                    <p class="colorWhite brackSpaceText">Number of likes you made</p>
                    <ion-card-content class="subCardCont">
                      <ion-item class="cardShapeRound pStartEnd5" lines="none">
                        <ion-label class="textCenter marginInline-0">
                          <ion-icon name="thumbs-up" class="defultIcons"></ion-icon>
                          <p class="colorWhite brackSpaceText">{{content.likesSends}}</p>
                        </ion-label>
                      </ion-item>
                    </ion-card-content>
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-col>
            <ion-col size="6">
              <ion-card-content class="p-0">
                <ion-item class="cardShapeRound borderRed gradientBlack" lines="none">
                  <ion-label class="textCenter">
                    <p class="colorWhite brackSpaceText">Number of dislikes you made</p>
                    <ion-card-content class="subCardCont">
                      <ion-item class="cardShapeRound pStartEnd5" lines="none">
                        <ion-label class="textCenter marginInline-0">
                          <ion-icon name="thumbs-down" class="defultIcons"></ion-icon>
                          <p class="colorWhite brackSpaceText">{{content.dislikeSends}}</p>
                        </ion-label>
                      </ion-item>
                    </ion-card-content>
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </div>
  </ion-app>