<ion-app>
  <div class="ion-page" main>
    <ion-content fullscreen class="ion-padding">
      <ion-slides  *ngIf="displayname && displayname.length " autoplay="1000" loop="true" speed="500" pager="true">
        <ion-slide *ngFor="let featureName of displayname; let i = index ">
          <p>{{featureName}}</p>
          <div class="slideIconBase">
            <img src="http://jigaju.esy.es/assets/images/{{img2[i]}}" class="funnel">
            <ion-icon name="send" class="chattingSendIcon"></ion-icon>
          </div>
        </ion-slide>
        <ion-slide>
          <p>First Date Auto Suggestion</p>
          <div class="slideIconBase">
            <ion-icon name="send" class="chattingSendIcon"></ion-icon>
          </div>
        </ion-slide>
        <ion-slide>
          <p>Participate in Speed Dating</p>
          <div class="slideIconBase">
            <ion-icon name="send" class="chattingSendIcon"></ion-icon>
          </div>
        </ion-slide>
      </ion-slides>

      <div>
        <ion-row class="cardRow">
          <div style=" z-index: 99; margin:auto" *ngFor="let packageName of content; let i = index">
          <ion-card class="cards" [ngClass]="test===packageName.package_name?'activeborder':'cards'" col-4 (click)="package(packageName,i)">
              <ion-card-header class="card-head" [ngClass]="test===packageName.package_name?'active':'card-head'">
                {{packageName.package_name}}
              </ion-card-header>
              <ion-card-content>                
                <p class="card-manual" [ngClass]="test===packageName.package_name?'active':'card-manual'">Package</p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-row>
      </div>

      <div *ngIf="packageSelected" class="DivPurchaseDialog">
          <ion-row style="padding:0px;margin:auto">
            <div style="position: relative; width:500px;max-width:33%;padding: 0px; margin: auto" *ngFor="let package of packageSelected.Product_Title.split(','); let i = index">
              <div class='cards1' [ngClass]="selectedPackageScheme===package?'activeborder1':'cards1'" (click)="SelectPackage(packageSelected,i)">
                  <div class="card-head-scheme" [ngClass]="test===package?'active':'card-head-scheme'">
                    {{package}}
                  </div>
                  <div>
                    <p [ngClass]="selectedPackageScheme===package?'active1':'card-manual-scheme'">Packs : {{packageSelected.Product_Pack.split(',')[i]}}</p>
                    <p [ngClass]="selectedPackageScheme===package?'active1':'card-manual-scheme'">{{packageSelected.currency}} {{packageSelected.price_rm.split(',')[i]}}/{{packageSelected.period}} </p>
                  </div>
                </div>
            </div>
            <ion-col col-12>
              <section>
                <ion-button class="mt-10" shape="round" color="danger" expand="block" (click)="BuySubscription()">Buy Now</ion-button>
              </section>
              <section>
                <ion-button class="mt-10" shape="round" color="danger" expand="block" (click)="cancelBuy()">Cancel</ion-button>
              </section>
            </ion-col>
        </ion-row>
      </div>
      


      
    </ion-content>
  </div>
</ion-app>